

    #swiper_js {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
        
    }

    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-wrapper{
        display: flex;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      /* display: block; */
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .swiper-button-prev,
.swiper-button-next {
  color: #555 !important; /* Düymənin rəngi */
  background-color: white !important; /* Düymənin arxa fon rəngi */
  border: 1px solid gray; /* Düymənin sərhəddi */
  /* padding: 2px 8px; Daxili boşluq */
  height: 30px !important;
  width: 30px !important;
  border-radius: 50%; /* Kənarları yuvarlaqlaşdırmaq */
  font-size: 1.2em ; /* Şrift ölçüsü */
  top: 500px !important  ;
  /* bottom: 0px !important; */
  right: 20% !important;
}
.swiper-button-prev{
  left: 20% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: .8em !important; /* Ox işarəsinin ölçüsü */
  font-weight: bold;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.5; /* Aktiv olmayan düymələrin şəffaflığı */
  cursor: not-allowed;
}
/* Bütün bullet-lər üçün ümumi dizayn */
.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 4px;
  transition: all 0.3s ease;
  display: inline-block;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-radius: 20%;
  width: 16px !important;
  background-color: #1894A0;
}
.swiperp{
  display: -webkit-box;
  -webkit-line-clamp: 2; /* neçə sətrə qədər göstərilsin */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#reklamleft{
  display: none;
}
#reklamright{
  display: none;
}
@media only screen and (min-width : 768px) {
  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 26px !important;
  }
  .swiper-button-next {
    top: 500px !important  ;
  }
}
@media only screen and (min-width : 1320px){
  #reklamleft{
    display: flex;
  }
  #reklamright{
    display: flex;
  }
}


    